<h1>All Posts</h1>
<%= %>

<%@posts.each do |post|%>
  <li>
    <p><%= link_to "#{post.title}", post %></p>
    <% if post.user%>
    <p id = "postBy">posted by:<%=post.user.email%></p>
    <%end%>
  </li>
  <% end %>

  <% if current_user%>
  <%= link_to "(+)", new_post_path %>
  <%end%>
